<h1>Usuários Cadastrados</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Nickname</th>
        <th>Nome</th>
        <th>Update</th>
        
    </tr>
    {{#each usuarios}}
     <tr>
        <td>{{this.id}}</td>
        <td>{{this.nickname}}</td>
        <td>{{this.nome}}</td>
        <td> 
            <a href="/usuarios/{{this.id}}/update"> Atualizar </a>
        </td>
        
        
    </tr>
    {{/each}}
</table>